<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Celi y Fede </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/business-casual.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="site-heading text-center d-none d-lg-block">
      <span class="site-heading-upper text-white mb-3">8 de septiembre 2018</span>
      <span class="site-heading-lower">Celi & Fede </span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/lougar">Donde</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/bodas">Lista de bodas</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/rsvp">RSVP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/img/rsvp.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Let us know if you can make it</span>
                  <span class="section-heading-lower">Te esperamos!</span>
                </h2>
                <form action={{"/register/" + person_details_info['id']}} method="post">
                    <p>
                        <b>Nombre :</b>
                        <input type = "text" name = "firstName" required value={{ person_details_info['firstName'] }} />
                    </p>
                    <p>
                        <b>Appellido :</b>
                        <input type = "text" name = "lastName" required value={{ person_details_info['lastName'] }} />
                    </p>
                    <p>
                        <b>Email :</b>
                        <input type = "email" name = "email" required value={{ person_details_info['email'] }} />
                    </p>

                     <p>
                        <b>Con cuántas personas vienes</b>
                    </p>
                    <p>
                         <input type="radio" name="people" id="none" value="0" required>
                         <label class='mr-sm-2' for="uno">No puedo venir</label>
                         <input type="radio" name="people" id="uno" value="1" required>
                         <label class='mr-sm-2' for="uno">Solo yo</label>
                         <input type="radio" name="people" id="dos" value="2" required>
                         <label class='mr-sm-2' for="dos">+1</label>
                         <input type="radio" name="people" id="trees" value="3" required>
                         <label class='mr-sm-2' for="trees">+2</label>
                         <input type="radio" name="people" id="cuatro" value="4" required>
                         <label class='mr-sm-2' for="cuatro">+3</label>
                         <input type="radio" name="people" id="mas" value="mas" required>
                         <label class='mr-sm-2' for="mas">mas</label>
                    </p>
                    <p>
                        <textarea name="message" rows="3" cols="50" placeholder="Deja un mensaje!" value={{ person_details_info['message'] }}></textarea>
                     </p>
                     <p><input class='buttonlike' type = "submit" value = "Cambiar RSVP" /></p>
                 </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Fla Belu 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>